/* ==UserStyle==
@name           Sigma
@namespace      https://github.com/Catgrills/Sigma
@version        1.4.8
@description    An user style for Youtube called Sigma.
@author         Catgrills/Katgrills
@preprocessor   uso
@var select theme 'Theme' {
	"Light": `
	:root {
		--body-bg: #FAFAFA !important;
		--card-bg: #FFF !important;
		--card-bg-2: #F6F6F6 !important;
		--header-bg: #FFF !important;
		--search-bg: #FFF !important;
		--border-color: #E1E2E2 !important;
		--primary-color: #282930 !important;
		--secondary-color: #5E5E5E !important;
	}
	`,
	"Dark":`
	:root {
		--body-bg: #272932 !important;
		--card-bg: #2B3D41 !important;
		--card-bg-2: #37454D !important;
		--header-bg: #2B3D41 !important;
		--search-bg: #2B3D41 !important;
		--border-color: #212121 !important;
		--primary-color: #FFF !important;
		--secondary-color: #C5C5C5 !important;
	}
	`
}
==/UserStyle== */
@-moz-document domain("youtube.com") {

    /*[[theme]]*/

    /* GENERAL */

    /** DESCRIPTION : set the main font and change others elements **/
    * {
        font-family: "Roboto Condensed", "ぼくたちのゴシック２ボールド" !important;
        text-decoration: none;
        font-weight: normal;
    }

    *::-moz-focus-inner {
        border: 0;
    }

    #alerts,
    #autoplay,
    #companion,
    .ytd-comments #less-replies yt-icon,
    .ytd-comments #more-replies yt-icon,
    #country-code,
    #footer,
    #merch-shelf,
    #related #metadata-line,
    #related .ytd-badge-supported-renderer,
    .sbfl_b,
    .style-scope.ytd-masthead.style-default,
    .style-scope.ytd-rich-grid-renderer:first-child,
    #tooltip,
    yt-live-chat-item-list-renderer #card,
    ytd-compact-link-renderer,
    ytd-info-panel-content-renderer[has-menu],
    ytd-inline-survey-renderer,
    ytd-metadata-row-container-renderer,
    ytd-mini-guide-renderer,
    ytd-playlist-renderer #view-more,
    ytd-primetime-promo-renderer
    #view-more.ytd-grid-playlist-renderer,
    ytd-search #dismissable .ytd-badge-supported-renderer,
    .ytp-tooltip {
        display: none !important;
    }

    html,
    #columns,
    ytd-app,
    ytd-browse,
    ytd-watch-flexy {
        background: var(--body-bg) !important;
    }

    ytd-app[mini-guide-visible_] ytd-page-manager.ytd-app {
        margin-left: 0px;
    }

    /* NOTIFICATION POPUP */

    /** DESCRIPTION : change the elements of the notification popup **/
    #toast {
        background: var(--card-bg);
        border: 1px solid var(--border-color);
        box-shadow: none;
        padding-top: 4px !important;
    }

    #toast *,
    ytd-mealbar-promo-renderer * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }
    
    ytd-mealbar-promo-renderer #message-text.ytd-mealbar-promo-renderer-message-text {
        line-height: 20pt !important;
    }
    
    .button-container.ytd-mealbar-promo-renderer {
        margin-top: -15px !important;
    }
    
    .button-container.ytd-mealbar-promo-renderer * {
        font-size: 12pt !important;
        font-weight: bold;
    }

    /* POPUP */

    /** DESCRIPTION : change the elements of the popup **/
    #title.style-scope.yt-report-form-modal-renderer {

        /*** REPORT POPUP HEADER ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        font-weight: bold !important;
    }

    .list.list-long.style-scope.ytd-account-settings {

        /*** COUNTRY POPUP ***/
        background: var(--card-bg);
    }

    ytd-hotkey-dialog-renderer * {

        /*** HOTKEYS POPUP ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    #submenu #sections {

        /*** SAFE MODE POPUP ***/
        background: var(--card-bg);
    }

    #submenu #sections * {
        color: var(--primary-color);
        font-size: 12pt;
    }

    ytd-miniplayer {

        /*** MINI PLAYER POPUP ***/
        background: var(--card-bg);
        height: 590px !important;
    }

    #card.ytd-miniplayer:hover {
        box-shadow: none !important;
    }

    #info-bar.ytd-miniplayer {
        background: var(--card-bg);
    }

    #info-bar.ytd-miniplayer * {
        color: var(--primary-color);
        font-size: 12pt;
        line-height: 15pt;
    }

    #playlist.ytd-miniplayer,
    ytd-playlist-panel-renderer[hide-header-text] .header.ytd-playlist-panel-renderer,
    ytd-playlist-panel-renderer[js-panel-height_] #container.ytd-playlist-panel-renderer #items {
        background: var(--card-bg);
    }

    #container.ytd-playlist-panel-renderer {
        border: none;
    }

    ytd-playlist-panel-renderer[js-panel-height_] #container.ytd-playlist-panel-renderer #items #video-title {
        color: var(--primary-color);
        font-size: 12pt;
    }

    ytd-playlist-panel-renderer[js-panel-height_] #container.ytd-playlist-panel-renderer #items #byline {
        color: var(--secondary-color) !important;
        font-size: 12pt;
    }

    ytd-button-renderer.style-text[is-icon-button] #text.ytd-button-renderer {
        color: var(--primary-color);
        font-size: 12pt;
        font-weight: bold;
        text-transform: capitalize;
    }

    #cancel-button *,
    #confirm-button *,
    #submit-button * {

        /*** POPUP BUTTONS ***/
        font-size: 12pt;
        font-weight: bold !important;
    }

    /* DROPDOWN MENU */

    /** DESCRIPTION : change the elements of the dropdown menu **/
    #contentWrapper {
        background: var(--card-bg);
        border: 1px solid var(--border-color) !important;
        padding: 0px;
    }

    paper-listbox,
    .dropdown-content,
    ytd-menu-popup-renderer {
        background: transparent !important;
        box-shadow: none !important;
    }

    paper-listbox *,
    .dropdown-content * {
        background: transparent !important;
        color: var(--primary-color) !important;
        font-size: 12pt !important;
    }

    /* SUBSCRIBE BUTTON */

    /** DESCRIPTION : change the elements of the subscribe button **/
    paper-button.ytd-subscribe-button-renderer {
        background: #EB4D4B;
        height: 40px !important;
    }

    #subscribe paper-button.style-scope.ytd-subscribe-button-renderer {
        background: var(--card-bg-2);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    }

    #subscribe paper-button.style-scope.ytd-subscribe-button-renderer * {
        color: var(--primary-color) !important;
    }

    paper-button.ytd-subscribe-button-renderer * {
        color: #FFF !important;
        font-size: 12pt;
        font-weight: bold !important;
    }

    .style-scope.ytd-subscribe-button-renderer[subscribed=""] {
        background: #212b35;
        color: #FFF !important;
    }

    #sponsor-button #button {
        background: #16a085;
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        height: 40px;
        margin-bottom: -5px !important;
    }

    #sponsor-button #button * {
        color: #FFF !important;
        font-size: 12pt;
        font-weight: bold !important;
    }
    
    #top-row #sponsor-button #button {
        margin-bottom: 0px !important;
    }

    /* HEADER */

    /** DESCRIPTION : change the elements of the header **/
    #masthead #container {

        /*** HEADER CONTAINER ***/
        background: var(--card-bg) !important;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, .1) !important;
    }

    #guide-button svg {

        /*** HEADER GUIDE BUTTON ***/
        fill: var(--primary-color) !important;
        opacity: .89;
    }

    #guide-wrapper div {

        /*** HEADER GUIDE POPUP ***/
        background: var(--card-bg);
    }

    #guide-wrapper #guide-section-title {

        /*** HEADER GUIDE POPUP SECTION TITLE ***/
        color: var(--secondary-color);
        font-size: 14pt;
        font-weight: bold;
    }

    #guide-wrapper .title {

        /*** HEADER GUIDE POPUP TEXT ***/
        border-color: var(--border-color) !important;
        color: var(--primary-color);
        font-size: 14pt;
        line-height: 20pt;
    }

    #guide-wrapper svg {

        /*** HEADER GUIDE POPUP ICONS ***/
        fill: var(--primary-color);
        opacity: .8;
    }

    ytd-guide-entry-renderer[active] svg {

        /*** HEADER GUIDE POPUP ACTIVE ICON ***/
        fill: #EB4D4B !important;
    }

    #masthead .ytd-notification-topbar-button-renderer {

        /*** HEADER NOTIFICATION BUTTON ***/
        fill: #F39C12 !important;
        opacity: .98;
    }

    #masthead #notification-count.ytd-notification-topbar-button-renderer {
        background: #EB4D4B !important;
        font-weight: bold;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 1px;
    }

    ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-notifications"] > .menu-container.ytd-multi-page-menu-renderer:not(:hover) {

        /*** HEADER NOTIFICATION POPUP ***/
        margin-right: 0px !important;
    }

    .ytd-popup-container #header .ytd-multi-page-menu-renderer {

        /*** HEADER NOTIFICATION POPUP HEADER ***/
        background: var(--card-bg-2) !important;
        border-bottom: 1px solid var(--border-color);
        color: var(--primary-color);
    }

    .ytd-popup-container #header .ytd-multi-page-menu-renderer * {
        color: var(--primary-color);
        font-size: 14pt !important;
    }

    .ytd-popup-container {

        /*** HEADER NOTIFICATION POPUP CONTENT ***/
        background: var(--card-bg) !important;
        border: none;
        box-shadow: none !important;
    }

    .ytd-popup-container .message {
        color: var(--primary-color);
        font-size: 12pt;
    }

    .ytd-popup-container .metadata {
        color: var(--secondary-color);
        font-size: 12pt;
    }

    .ytd-popup-container svg {

        /*** HEADER NOTIFICATION POPUP ICONS ***/
        fill: var(--primary-color) !important;
    }

    #channel-container * {

        /*** HEADER ACCOUNT POPUP ***/
        color: var(--primary-color);
        line-height: 20pt !important;
    }

    .ytd-popup-container #label,
    .ytd-popup-container #subtitle {
        color: var(--primary-color) !important;
        font-size: 12pt;
    }

    #logo-icon-container #youtube-paths path,
    yt-icon.ytd-topbar-logo-renderer {

        /*** HEADER YOUTUBE LOGO ***/
        fill: var(--primary-color) !important;
    }

    #masthead #search-form #container {

        /*** HEADER SEARCH BAR ***/
        background: var(--card-bg-2) !important;
        border-color: var(--border-color) !important;
        border-radius: 0px !important;
        box-shadow: none !important;
    }

    #masthead ytd-searchbox[has-focus] #container.ytd-searchbox {
        margin-right: -1px !important;
    }

    #masthead #search-form #container #search {
        color: var(--primary-color);
        font-size: 14pt !important;
        font-stretch: condensed !important;
        margin-left: 0px !important;
    }

    #masthead #search-icon-legacy {

        /*** HEADER SEARCH BUTTON ***/
        background: var(--card-bg) !important;
        border-color: var(--border-color) !important;
        border-radius: 0px !important;
        margin-left: 0px;
    }

    #masthead #search-icon-legacy .ytd-searchbox {
        fill: var(--primary-color) !important;
    }

    .sbdd_b {

        /*** HEADER SEARCH SUGGESTION BOX ***/
        border: 1px solid var(--border-color) !important;
        border-radius: 1px !important;
        box-shadow: none !important;
        margin-top: 0px;
    }

    .sbdd_b .sbsb_a {
        background: var(--card-bg-2) !important;
        border: none !important;
        padding-top: 4px;
    }

    .sbdd_b .sbsb_a * {

        /*** HEADER SEARCH SUGGESTION BOX TEXT ***/
        color: var(--primary-color) !important;
        font-family: "Roboto Condensed" !important;
        font-size: 14pt !important;
        font-weight: normal !important;
        line-height: 20pt !important;
    }

    .sbsb_c.gsfs.sbsb_d:hover {
        background: transparent !important;
        opacity: .8 !important;
    }

    .sbsb_d {
        background: transparent !important;
    }

    .sbsb_i {

        /*** HEADER SEARCH SUGGESTION BOX REMOVE ***/
        opacity: .5;
    }

    /* HOME */

    /** DESCRIPTION : change the elements of the home page **/
    #grid-header #title,
    #grid-title #title,
    #dismissable #title {

        /*** HOME SECTION TITLE ***/
        color: var(--primary-color) !important;
    }

    #content.ytd-rich-item-renderer {

        /*** HOME THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color);
    }
	
    ytd-thumbnail-overlay-endorsement-renderer.style-scope.ytd-thumbnail {

        /*** HOME THUMBNAILS POPUP ***/
        background: var(--card-bg-2);
        border-bottom: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color);
    }
    
    ytd-thumbnail-overlay-endorsement-renderer.style-scope.ytd-thumbnail * {
        color: var(--primary-color);
    }
	
    ytd-notification-text-renderer * {
        
        /*** HOME THUMBNAILS NOTIFICATION ***/
        color: var(--primary-color) !important;
        font-size: 12pt !important;
        text-align: center !important;
    }

    #progress.ytd-thumbnail-overlay-resume-playback-renderer {

        /*** HOME THUMBNAILS VIDEO RESUME BAR ***/
        background: #EB4D4B !important;
    }

    ytd-thumbnail-overlay-time-status-renderer[overlay-style="DEFAULT"] {

        /*** HOME THUMBNAILS VIDEO TIME ***/
        background-color: rgba(0, 0, 0, .8) !important;
        border-radius: 2px !important;
        padding: 7px;
    }

    #hover-overlays * {

        /*** HOME THUMBNAILS VIDEO OVERLAY ***/
        font-size: 12pt !important;
        font-weight: bold !important;
    }

    yt-formatted-string.ytd-thumbnail-overlay-playback-status-renderer,
    ytd-thumbnail-overlay-time-status-renderer[overlay-style="DEFAULT"] *,
    ytd-thumbnail-overlay-now-playing-renderer.ytd-thumbnail *,
    .ytp-videowall-still-info-duration {
        font-size: 12pt !important;
        font-weight: bold;
    }

    .ytd-notification-multi-action-renderer {

        /*** HOME THUMBNAILS NOTIFICATION ***/
        color: var(--primary-color) !important;
        font-size: 12pt !important;
    }

    #content.ytd-rich-item-renderer #details {

        /*** HOME THUMBNAILS DETAILS ***/
        padding: 0px 10px 10px 10px !important;
    }

    #content.ytd-rich-item-renderer #details #video-title {

        /*** HOME THUMBNAILS DETAILS TITLE ***/
        color: var(--primary-color);
        font-size: 12pt;
        margin-bottom: 10px;
    }

    #content.ytd-rich-item-renderer #details #metadata * {

        /*** HOME THUMBNAILS DETAILS METADATA ***/
        color: var(--secondary-color);
        font-size: 12pt;
        margin-bottom: 5px;
    }

    #content.ytd-rich-item-renderer #details .video-badge .badge {

        /*** HOME THUMBNAILS DETAILS BADGE ***/
        background: #EB4D4B !important;
        border: none;
        border-radius: 2px;
        color: #FFF;
        font-size: 12pt !important;
        padding: 7px;
    }

    #content.ytd-rich-item-renderer #details .video-badge .badge * {
        font-weight: bold !important;
    }

    ytd-rich-shelf-renderer {

        /*** HOME LATEST POSTS ***/
        border-top: 1px solid var(--border-color);
    }

    #contents.ytd-rich-shelf-renderer .ytd-rich-shelf-renderer #content * {

        /*** HOME LATEST POSTS THUMBNAILS ***/
        background: var(--card-bg-2) !important;
        border: none;
        color: var(--primary-color);
	font-size: 12pt !important;
    }

    #contents.ytd-rich-shelf-renderer .ytd-rich-shelf-renderer #content #header * {
        font-size: 12pt;
    }

    #like-button svg {

        /*** HOME LATEST POSTS THUMBNAILS LIKE ICON ***/
        fill: #27AE60 !important;
    }

    #dislike-button svg {

        /*** HOME LATEST POSTS THUMBNAILS DISLIKE ICON ***/
        fill: #EB4D4B !important;
    }

    #reply-button-end .ytd-comment-action-buttons-renderer svg {

        /*** HOME LATEST POSTS THUMBNAILS MESSAGE ICON ***/
        fill: #2980B9;
    }

    #show-more-button.ytd-rich-shelf-renderer {

        /*** HOME LATEST POSTS MORE BUTTON ***/
        border-bottom: 1px solid var(--border-color);
    }

    /* WATCH */

    /** DESCRIPTION : change the elements of the watch page **/
    ytd-watch:not([theater]) #movie_player,.html5-video-player {

        /*** WATCH PLAYER ***/
        background: var(--card-bg-2) !important;
        border-radius: 2px !important;
        box-shadow: -1px 40px 51px -33px rgba(0, 0, 0, 0.75) !important;
        width: 100% !important;
    }

    .ytp-videowall-still-info-title {
        font-size: 14pt;
        font-weight: bold;
        max-height: 5em !important;
    }
    
    .ytp-videowall-still-info-author {
        font-size: 12pt;
        font-weight: bold;
        max-height: 5em !important;
        opacity: .9;
    }

    #info-contents #container.ytd-video-primary-info-renderer {

        /*** WATCH PRIMARY INFORMATION CONTAINER ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color);
        padding: 15px 15px 8px 15px !important;
	overflow: hidden;
    }

    ytd-video-primary-info-renderer {
        border-bottom: 0px;
    }

    #info-contents #container.ytd-video-primary-info-renderer .title * {

        /*** WATCH PRIMARY INFORMATION TITLE ***/
        color: var(--primary-color);
        font-family: "Roboto Condensed", "Honoka Antique-Kaku" !important;
        font-size: 18pt !important;
        line-height: 20pt !important;
    }

    .title.style-scope.ytd-video-primary-info-renderer {
        max-height: 5em !important;
    }

    .super-title.style-scope.ytd-video-primary-info-renderer * {
        color: #2980B9;
        font-size: 14pt;
        margin-right: 5px;
        margin-top: 3px;
        margin-bottom: 12px;
    }

    #info-contents #container.ytd-video-primary-info-renderer #info-text {

        /*** WATCH PRIMARY INFORMATION METADATA ***/
        margin-top: -20px;
	position: absolute;
        overflow: visible !important;
    }

    #info-contents #container.ytd-video-primary-info-renderer #info-text * {
        color: var(--secondary-color);
        font-size: 14pt !important;
    }

    #info-contents #container.ytd-video-primary-info-renderer #menu-container {

        /*** WATCH PRIMARY INFORMATION ACTIONS ***/
        margin-top: 20px;
    }

    #info-contents #container.ytd-video-primary-info-renderer #menu-container * {
        color: var(--secondary-color);
        font-size: 12pt !important;
        font-weight: bold;
    }

    #share-panel-header #title {

        /*** WATCH PRIMARY INFORMATION ACTIONS SHARE POPUP ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    #share-targets #target #title {

        /*** WATCH PRIMARY INFORMATION ACTIONS SHARE POPUP SOCIAL MEDIA ***/
        color: var(--primary-color) !important;
        font-size: 12pt !important;
        line-height: 20pt;
    }

    #scroll-button-forward,
    #scroll-button-back {

        /*** WATCH PRIMARY INFORMATION ACTIONS SHARE POPUP NAVIGATION BUTTONS ***/
        background: var(--card-bg-2) !important;
    }

    #bar {

        /*** WATCH PRIMARY INFORMATION ACTIONS SHARE POPUP URL BAR ***/
        background: var(--card-bg-2) !important;
        border: 1px solid var(--border-color) !important;
    }

    #bar #share-url {
        color: var(--primary-color) !important;
        font-size: 12pt !important;
    }

    #bar #text {
        color: #2980B9;
        font-size: 12pt !important;
        font-weight: bold;
    }

    #start-at * {

        /*** WATCH PRIMARY INFORMATION ACTIONS SHARE POPUP START AT ***/
        color: var(--primary-color);
        font-size: 14pt !important;
    }

    ytd-add-to-playlist-renderer #title {

        /*** WATCH PRIMARY INFORMATION ACTIONS PLAYLIST POPUP ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    ytd-add-to-playlist-renderer #actions * {
        border-color: var(--border-color) !important;
        color: var(--primary-color) !important;
        font-size: 12pt !important;
    }

    ytd-video-secondary-info-renderer {

        /*** WATCH SECONDARY INFORMATION CONTAINER ***/
        background: var(--card-bg-2) !important;
        border: 1px solid var(--border-color);
        padding: 0px 15px 15px 15px !important;
        margin-top: -9px;
    }

    ytd-video-secondary-info-renderer #channel-name * {

        /*** WATCH SECONDARY INFORMATION CHANNEL DATA ***/
        color: var(--primary-color);
        font-size: 14pt !important;
        font-weight: bold !important;
        margin-bottom: 4px;
    }
	
    .badge-style-type-verified-artist {
	margin-bottom: 0px !important;
    }

    ytd-video-secondary-info-renderer #owner-sub-count {
        color: var(--secondary-color) !important;
        font-size: 14pt !important;
    }

    ytd-video-secondary-info-renderer #description * {

        /*** WATCH SECONDARY INFORMATION DESCRIPTION ***/
        color: var(--primary-color);
        font-size: 14pt !important;
        line-height: 20pt;
    }

    .more-button,
    .less-button {

        /*** WATCH SECONDARY INFORMATION MORE/LESS BUTTON ***/
        color: #2980B9 !important;
        font-size: 14pt !important;
        text-transform: capitalize !important; 
        margin-top: 20px !important;
    }

    .ytd-comments #header #count * {

        /*** WATCH COMMENTS HEADER COMMENTS COUNT ***/
        color: var(--primary-color);
        font-size: 18pt !important;
    }
	
    .ytd-section-list-renderer .ytd-comments #header #count {
        margin-top: -6px !important;
    }

    .ytd-comments #header #trigger {

        /*** WATCH COMMENTS HEADER SORT BUTTON ***/
        margin-top: 5px !important;
    }

    .ytd-comments #header #trigger * {
        color: var(--secondary-color);
        font-size: 14pt !important;
        text-transform: capitalize;
    }

    #message {
        color: var(--primary-background-color);
        font-size: 14pt !important;
    }

    #placeholder-area.ytd-comment-simplebox-renderer *,
    #contenteditable-textarea {

        /*** WATCH COMMENTS OWN COMMENT ***/
        color: var(--primary-color) !important;
        border-color: var(--border-color) !important;
        font-size: 14pt !important;
    }

    .focused-line.style-scope.paper-input-container,
    .unfocused-line.style-scope.paper-input-container {
        border-color: var(--border-color) !important;
    }

    #contenteditable-root.yt-formatted-string a.yt-simple-endpoint.yt-formatted-string {
        background: var(--card-bg);
        border: 1px solid var(--border-color) !important;
        border-radius: 2px !important;
        color: var(--primary-background-color);
    }

    .ytd-comments .ytd-pinned-comment-badge-renderer {

        /*** WATCH COMMENTS PINNED BADGE ***/
        color: var(--secondary-color);
        fill: #EB4D4B;
        --iron-icon-height: 15px;
        --iron-icon-width: 15px;
        font-size: 14pt !important;
    }

    .ytd-comments #header-author * {

        /*** WATCH COMMENTS USERNAME ***/
        color: var(--primary-color);
        font-size: 14pt;
    }

    .ytd-comments ytd-author-comment-badge-renderer {
        background: transparent;
    }

    .ytd-comments #header-author #author-text {
        margin-right: 10px;
    }

    .ytd-comments #header-author #author-text * {
        color: var(--primary-color);
    }

    .ytd-comments #header-author .published-time-text,
    yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string:hover {

        /*** WATCH COMMENTS PUBLISHED DATE ***/
        color: var(--secondary-color) !important;
    }

    .ytd-comments ytd-menu-renderer {

        /*** WATCH COMMENTS DROPDOWN BUTTON ***/
        margin-top: -10px !important;
    }

    .ytd-comments #expander.ytd-comment-renderer {

        /*** WATCH COMMENTS CONTENT ***/
        border-top: 1px solid var(--border-color) !important;
        padding-top: 10px !important;
        margin-top: 10px !important;
        margin-bottom: 10px;
    }

    .ytd-comments #content-text {
        color: var(--primary-color);
        font-size: 14pt;
        line-height: 20pt;
    }

    .ytd-comments #content-text a {
        color: #2980B9 !important;
    }

    .ytd-comments #less .less-button-exp,
    .ytd-comments #more .more-button-exp {
        color: var(--secondary-color) !important;
        font-size: 14pt;
    }

    .yt-next-continuation {
        color: #2980B9;
        font-size: 14pt;
    }

    .ytd-comments #action-buttons span {

        /*** WATCH COMMENT ACTION BUTTONS ***/
        color: var(--primary-color);
        font-size: 14pt !important;
        text-transform: capitalize;
    }
		
    #reply-button-end #button {
        background: var(--card-bg-2) !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
        line-height: 16pt !important;
        padding-bottom: 12px !important;
    }

    #reply-button-end * {
        color: var(--primary-color) !important;
        font-weight: bold !important;
        font-size: 14pt !important;
        text-transform: capitalize !important;
    }

    #vote-count-middle {
        margin-top: 0px !important;
    }

    .ytd-comments #less-replies,
    .ytd-comments #more-replies {

        /*** WATCH COMMENT SHOW/HIDE ANSWERS BUTTONS ***/
        color: #2980B9 !important;
        font-size: 14pt !important;
        line-height: 20pt;
        margin-left: -10px;
        margin-bottom: 10px;
    }

    #related #items #head * {

        /*** WATCH RELATED SIDEBAR HEADER ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        text-transform: capitalize !important;
    }

    .toggle-button.paper-toggle-button {
        box-shadow: none;
    }

    .style-scope.yt-related-chip-cloud-renderer {

	/*** WATCH RELATED SIDEBAR OPTIONS ***/
	margin-top: 8px !important;
    }

    .style-scope.yt-chip-cloud-renderer.iron-selected,
    yt-chip-cloud-chip-renderer.yt-chip-cloud-renderer {
        border: 1px solid var(--border-color);
        color: var(--primary-color);
        font-size: 12pt;
        padding-bottom: 3px;
    }
    
    .style-scope.yt-chip-cloud-renderer.iron-selected {
        background: var(--card-bg-2) !important;
        opacity: .5;
    }
    
    yt-chip-cloud-chip-renderer.yt-chip-cloud-renderer {
        background: var(--card-bg);
    }

    .style-scope.yt-related-chip-cloud-renderer #left-arrow,
    .style-scope.yt-related-chip-cloud-renderer #right-arrow {
        border: 1px solid var(--border-color);
        border-radius: 50%;    
        height: 35px;
        width: 35px;
        padding: 0px;
        margin-top: -3px;
    }
	
    #related #dismissable {

        /*** WATCH RELATED SIDEBAR THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color);
    }

    #related ytd-compact-video-renderer.ytd-compact-autoplay-renderer #dismissable {
        background: var(--card-bg-2);
    }

    #related ytd-compact-autoplay-renderer {
        border-bottom: 1px solid var(--border-color);
    }

    #related #dismissable .details {

        /*** WATCH RELATED SIDEBAR THUMBNAILS DETAILS ***/
        padding: 10px 5px;
    }

    #related #dismissable .details #video-title,
    #related #dismissable .details #movie-title {

        /*** WATCH RELATED SIDEBAR THUMBNAILS TITLE ***/
        color: var(--primary-color);
        font-size: 12pt;
        line-height: 17pt;
        max-height: 100%;
    }

    #related #dismissable .details .ytd-channel-name,
    #related #dismissable .details .movie-metadata {

        /*** WATCH RELATED SIDEBAR THUMBNAILS CHANNEL NAME ***/
        color: var(--secondary-color);
        font-size: 12pt !important;
        font-weight: bold !important;
        line-height: 15pt;
    }

    #byline-container.ytd-video-meta-block {
        max-height: 100%;
    }

    #related #dismissable .details #button {

        /*** WATCH RELATED SIDEBAR THUMBNAILS BUTTON ***/
        margin-top: 3px;
    }

    ytd-watch-flexy[flexy_][js-panel-height_] #chat.ytd-watch-flexy {
        border: 1px solid var(--border-color);
    }

    yt-live-chat-header-renderer {

        /*** WATCH SIDEBAR CHAT HEADER ***/
        background: var(--card-bg-2) !important;
        border-bottom: 1px solid var(--border-color);
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    yt-live-chat-header-renderer * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }
	
    #menu.yt-live-chat-text-message-renderer {
        background: transparent;
    }
    
    yt-live-chat-header-renderer #menu #subtitle {
        font-size: 12pt !important;
        line-height: 15pt !important;
    }

    #chat,
    #items.yt-live-chat-item-list-renderer > .yt-live-chat-item-list-renderer:not(:first-child) {

        /*** WATCH SIDEBAR CHAT CONTENT ***/
        background: var(--card-bg) !important;
    }
	
    #chat {
	border: 1px solid var(--border-color);	
    }

    #chat * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }
	
    #input-panel.yt-live-chat-renderer::after {
        height: 0px !important;
    }

    #secondary #chat #button {

        /*** WATCH SIDEBAR CHAT BUTTON ***/
        background: var(--card-bg) !important;
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        text-transform: lowercase !important;
    }

    yt-live-chat-toast-renderer {
        background: var(--border-color);
        border-radius: 0px !important;
    }
	
    yt-live-chat-message-input-renderer {

        /*** WATCH SIDEBAR CHAT INPUT ***/
        background: var(--card-bg-2) !important;
        border-top: 1px solid var(--border-color) !important;
        border-bottom: 1px solid var(--border-color) !important;
        margin-bottom: -1px !important;
    }
    
    yt-live-chat-message-input-renderer * {
        color: var(--primary-color) !important;
        border-color: var(--border-color) !important;
        font-size: 12pt;
    }	

    #secondary #playlist.ytd-watch-flexy {

        /*** WATCH SIDEBAR PLAYLIST ***/
        border: 1px solid var(--border-color) !important;
        box-shadow: none !important;
    }

    #secondary #playlist .header {

        /*** WATCH SIDEBAR PLAYLIST HEADER ***/
        background: var(--card-bg-2) !important;
        border-bottom: 1px solid var(--border-color) !important;
    }

    #secondary #playlist .header .title {
        color: var(--primary-color) !important;
        font-size: 14pt;
        margin: 5px 0px;
    }

    #secondary #playlist .header .title * {
        color: var(--primary-color) !important;
    }

    #secondary #playlist #publisher-container {
        padding: 5px 0px !important;
    }

    #secondary #playlist .header #publisher-container * {
        color: var(--secondary-color) !important;
        font-size: 12pt !important;
        overflow: visible;
    }

    #secondary #playlist .header #save-button {
        margin-right: -8px !important;
    }

    #secondary #playlist #top-level-buttons * {
        color: var(--primary-color);
        font-weight: bold !important;
        font-size: 12pt !important;
    }

    #secondary .playlist-items.ytd-playlist-panel-renderer {

        /*** WATCH SIDEBAR PLAYLIST CONTENT ***/
        background: var(--card-bg) !important;
    }

    #secondary .playlist-items.ytd-playlist-panel-renderer * {
        font-size: 12pt !important;
        line-height: 15pt;
        max-height: 5em !important;
        max-width: 100%;
    }

    #secondary .playlist-items.ytd-playlist-panel-renderer #video-title {
        color: var(--primary-color) !important;
        white-space: nowrap;
    }

    #secondary .playlist-items.ytd-playlist-panel-renderer #byline {
        color: var(--secondary-color) !important;
    }

    /* SEARCH */

    /** DESCRIPTION : change the elements of the search page **/   
    #filter-menu * {

        /*** SEARCH FILTER MENU ***/
        color: var(--primary-color);
        font-size: 12pt !important;
    }

    .style-scope.ytd-search-sub-menu-renderer #text,
    h4#filter-group-name * {
        font-weight: bold !important;
    }

    #filter-menu .ytd-search-filter-group-renderer * {
        font-weight: normal;
    }

    yt-search-query-correction,
    yt-search-query-correction * {

        /*** SEARCH CORRECTION ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    ytd-search #title-container #title,
    ytd-search ytd-rich-list-header-renderer #title * {

        /*** SEARCH SECTION TITLE ***/
        color: var(--primary-color);
        font-size: 17pt !important;
    }

    ytd-search #dismissable.style-scope.ytd-video-renderer,
    ytd-search ytd-playlist-renderer,
    ytd-search ytd-radio-renderer {

        /*** SEARCH THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color) !important;
    }

    ytd-search ytd-channel-renderer #content-section {
        background: var(--card-bg-2) !important;
        border: 1px solid var(--border-color) !important;
        padding: 15px 0px !important;
    }

    ytd-search a.ytd-search-refinement-card-renderer * {
        color: var(--primary-color) !important;
        font-size: 12pt !important;
        line-height: 20pt !important;
        white-space: nowrap !important;
    }

    ytd-search #dismissable .text-wrapper,
    ytd-search ytd-playlist-renderer #content,
    ytd-search ytd-radio-renderer #content {

        /*** SEARCH THUMBNAILS CONTENT ***/
        padding: 12px 0px;
    }

    ytd-search #dismissable .text-wrapper #video-title {

        /*** SEARCH THUMBNAILS TITLE ***/
        color: var(--primary-color);
        font-size: 14pt;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    ytd-search ytd-channel-renderer #content-section #channel-title,
    ytd-search ytd-playlist-renderer #content #video-title,
    ytd-search ytd-radio-renderer #content #video-title {
        color: var(--primary-color);
        font-size: 14pt;
        line-height: 15pt;
    }

    ytd-search ytd-playlist-renderer #content #length,
    ytd-search ytd-radio-renderer #content #length {
        color: var(--secondary-color);
        font-size: 14pt;
    }

    ytd-search #dismissable .text-wrapper #metadata,
    ytd-search ytd-channel-renderer #content-section #metadata {

        /*** SEARCH THUMBNAILS METADATA ***/
        margin-top: 7px;
    }

    ytd-search #dismissable .text-wrapper #metadata *,
    ytd-search ytd-channel-renderer #content-section #metadata *,
    ytd-search ytd-playlist-renderer #content #channel-name *,
    ytd-search #channel-name.ytd-video-renderer *,
    ytd-search ytd-radio-renderer #content #metadata * {
        color: var(--secondary-color);
        font-size: 12pt;
        max-height: 5rem;
	overflow: visible;
    }

    ytd-search #dismissable .text-wrapper #description-text,
    ytd-search #dismissable .text-wrapper #description-text *,
    ytd-search ytd-channel-renderer #content-section #description {

        /*** SEARCH THUMBNAILS DESCRIPTION ***/
        color: var(--primary-color);
        font-size: 12pt;
        line-height: 17pt;
        max-height: 5rem !important;
    }

    ytd-search  #more * {

        /*** SEARCH THUMBNAILS MORE BUTTON ***/
        color: #2980B9 !important;
        font-size: 14pt !important;
        font-weight: bold !important;
    }

    ytd-search a.ytd-search-refinement-card-renderer {
        background: var(--card-bg);
        border: 1px solid var(--border-color);
        border-radius: 2px;
    }

    #left-arrow,
    #right-arrow {
        background: var(--card-bg-2) !important;
    }

    .arrow.yt-horizontal-list-renderer {
        background: var(--card-bg-2) !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .3) !important;
    }

    #left-arrow yt-icon,
    #right-arrow yt-icon {
        fill: var(--primary-color) !important;
    }

    ytd-universal-watch-card-renderer {

        /*** SEARCH SIDEBAR ***/
        background: var(--card-bg) !important;
        border: 1px solid var(--border-color) !important;
    }

    ytd-watch-card-rich-header-renderer {
        background: var(--card-bg-2);
    }

    ytd-watch-card-rich-header-renderer #channel-name {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    ytd-watch-card-rich-header-renderer #watch-card-subtitle {
        color: var(--secondary-color) !important;
        font-size: 14pt !important;
    }

    .ytd-watch-card-compact-video-renderer {
        padding: 0px 3px !important;
    }

    .ytd-watch-card-compact-video-renderer * {
        font-size: 12pt !important;
    }
	
    ytd-watch-card-compact-video-renderer[is-condensed] .title.ytd-watch-card-compact-video-renderer {
	overflow: visible;
    }

    ytd-title-and-button-list-header-renderer #title {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    .ytd-watch-card-compact-video-renderer .title *,
    .ytd-watch-card-compact-video-renderer .duration {
        color: var(--primary-color) !important;
    }

    .ytd-watch-card-compact-video-renderer .subtitle,
    .ytd-watch-card-compact-video-renderer .subtitle * {
        color: var(--secondary-color) !important;
        margin-top: 3px;
    }

    .ytd-watch-card-section-sequence-renderer {
        padding: 0px 1px 3px 1px;
    }
    
    #view-all-endpoint.yt-simple-endpoint.ytd-vertical-watch-card-list-renderer {
        color: var(--primary-color);
        font-size: 14pt;
        text-transform: capitalize;
    }

    /* TRENDING */

    /** DESCRIPTION : change the elements of the trending page **/ 
    .style-scope.ytd-section-list-renderer #title {

        /*** TRENDING MENU ***/
        color: var(--primary-color);
        font-size: 14pt !important;
        overflow: visible !important;
        line-height: 18pt;
    }

    ytd-browse #title-container #title,
    ytd-browse #header ytd-text-header-renderer {

        /*** TRENDING SECTION TITLE ***/
        color: var(--primary-color);
        font-size: 17pt !important;
        overflow: visible;
    }

    #featured-badge .badge {
        font-size: 14pt !important;
        padding: 6px 8px 8px 8px !important;
    }

    ytd-browse #dismissable.style-scope.ytd-video-renderer {

        /*** TRENDING THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color) !important;
    }

    ytd-browse #dismissable .text-wrapper {

        /*** TRENDING THUMBNAILS CONTENT ***/
        padding: 12px 0px;
        width: 100% !important;
        max-width: 100% !important;
    }

    ytd-browse #dismissable .text-wrapper #video-title {

        /*** TRENDING THUMBNAILS TITLE ***/
        color: var(--primary-color);
        font-size: 14pt;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }
	
    ytd-browse #dismissable #channel-info ytd-channel-name {

        /*** TRENDING THUMBNAILS CHANNEL NAME ***/
        margin-top: -5px;
    }
    
    ytd-browse #dismissable #channel-info ytd-channel-name * {
        color: var(--secondary-color) !important;
        font-size: 12pt !important;
    }

    ytd-browse #dismissable .text-wrapper #metadata {

        /*** TRENDING THUMBNAILS METADATA ***/
        margin-top: 7px;
    }

    ytd-browse #dismissable .text-wrapper #metadata * {
        color: var(--secondary-color);
        font-size: 12pt;
        max-height: 5rem;
    }

    ytd-browse #dismissable .text-wrapper #description-text,
    ytd-browse #dismissable .text-wrapper #description-text * {

        /*** TRENDING THUMBNAILS DESCRIPTION ***/
        color: var(--primary-color);
        font-size: 12pt;
        line-height: 17pt;
        max-height: 5rem !important;
    }

    /* SUBSCRIPTIONS */

    /** DESCRIPTION : change the elements of the subscriptions page **/
    #title-container #subscribe-button * {

        /*** SUBSCRIPTIONS BUTTON ***/
        color: #2980B9;
        font-weight: bold !important;
        font-size: 12pt !important;
    }

    ytd-grid-video-renderer,
    ytd-browse ytd-channel-renderer #content-section {

        /*** SUBSCRIPTIONS THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color);
    }

    ytd-grid-video-renderer {
        padding-right: 0px !important;
        margin-right: 5px !important;
    }

    ytd-grid-video-renderer #details {

        /*** SUBSCRIPTIONS THUMBNAILS DETAILS ***/
        padding: 0px 10px 10px 10px !important;
    }

    ytd-browse ytd-channel-renderer #content-section {
        padding: 10px;
    }

    ytd-grid-video-renderer #details #video-title {

        /*** SUBSCRIPTIONS THUMBNAILS DETAILS TITLE ***/
        color: var(--primary-color);
        font-size: 12pt;
        max-height: 5em;
        line-height: 15pt;
        margin-bottom: 10px;
    }

    ytd-browse ytd-channel-renderer #content-section #channel-title {
        color: var(--primary-color);
        overflow: hidden !important;
    }

    ytd-grid-video-renderer #details #metadata *,
    ytd-browse ytd-channel-renderer #content-section #metadata * {

        /*** SUBSCRIPTIONS THUMBNAILS DETAILS METADATA ***/
        color: var(--secondary-color);
        font-size: 12pt;
        max-height: 5em;
        line-height: 15pt;
    }

    ytd-browse ytd-channel-renderer #content-section #description {

        /*** SEARCH THUMBNAILS DESCRIPTION ***/
        color: var(--primary-color);
        font-size: 12pt;
        line-height: 17pt;
        max-height: 5rem !important;
    }

    ytd-grid-video-renderer #details #video-badges .badge {

        /*** SUBSCRIPTIONS THUMBNAILS DETAILS BADGE ***/
        background: #EB4D4B !important;
        border: none;
        border-radius: 2px;
        color: #FFF;
        font-size: 12pt !important;
        font-weight: bold !important;
        padding: 7px 7px 9px 7px;
    }

    ytd-grid-video-renderer #details #video-badges .badge * {
        font-weight: bold !important;
        white-space: nowrap;
    }

    /* LIBRARY */

    /** DESCRIPTION : change the elements of the library page **/
    #subtitle {

        /*** LIBRARY SECTION TITLE ***/
        color: var(--secondary-color);
        font-size: 14pt !important;
        overflow: visible !important;
    }

    paper-menu-button #trigger #label-text {
        color: var(--secondary-color) !important;
        font-size: 14pt !important;
        line-height: 20pt !important;
        margin-top: 3px !important;
    }

    #title-annotation {
        color: var(--secondary-color) !important;
        font-size: 16pt !important;
    }

    #title-container #menu .ytd-button-renderer  * {
        font-size: 12pt !important;
        font-weight: bold !important;
    }

    ytd-grid-renderer ytd-grid-playlist-renderer,
    ytd-grid-renderer ytd-grid-radio-renderer {

        /*** LIBRARY THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color) !important;
	padding-bottom: 10px;
    }

    ytd-grid-renderer ytd-grid-playlist-renderer #video-title,
    ytd-grid-renderer ytd-grid-radio-renderer  #video-title {

        /*** LIBRARY THUMBNAILS TITLE ***/
        color: var(--primary-color);
        font-size: 14pt !important;
        padding: 0px 10px;
    }

    ytd-grid-renderer ytd-grid-playlist-renderer #metadata,
    ytd-grid-renderer ytd-grid-radio-renderer #metadata {

        /*** LIBRARY THUMBNAILS METADATA ***/
        padding: 0px 10px;
    }

    ytd-grid-renderer ytd-grid-playlist-renderer #metadata *,
    ytd-grid-renderer ytd-grid-radio-renderer #metadata * {
        color: var(--secondary-color);
        font-size: 12pt !important;
    }

    ytd-grid-renderer ytd-grid-playlist-renderer #view-more {

        /*** LIBRARY VIEW MORE BUTTON ***/
        padding: 8px 10px 10px 10px !important;
    }

    ytd-grid-renderer ytd-grid-playlist-renderer #view-more * {
        color: var(--secondary-color);
        font-size: 12pt !important;
    }

    ytd-profile-column-renderer #items * {

        /*** LIBRARY SIDEBAR ***/
        border-color: var(--border-color) !important;
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        line-height: 18pt !important;
    }

    /* HISTORY */

    /** DESCRIPTION : change the elements of the history page **/
    ytd-two-column-browse-results-renderer[page-subtype="history"] #secondary.ytd-two-column-browse-results-renderer {

        /*** HISTORY SIDEBAR ***/
        background: var(--card-bg-2);
        border-left: 1px solid var(--border-color);
    }

    ytd-two-column-browse-results-renderer[page-subtype="history"] #secondary.ytd-two-column-browse-results-renderer * {

        /*** HISTORY SIDEBAR CONTENT ***/
        border-color: var(--border-color) !important;
        color: var(--primary-color);
        font-size: 14pt;
    }

    ytd-comment-history-entry-renderer *,
    ytd-search-history-query-renderer * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        line-height: 20pt !important;
    }

    .latest-search-time-text,
    .timestamp.ytd-comment-history-entry-renderer {
        color: var(--secondary-color) !important;
    }

    ytd-two-column-browse-results-renderer[page-subtype="history"] #secondary.ytd-two-column-browse-results-renderer #button * {

        /*** HISTORY SIDEBAR CONTENT BUTTON ***/
        font-size: 12pt;
        font-weight: bold;
    }

    .style-scope.yt-confirm-dialog-renderer {

        /*** HISTORY POPUP ***/
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    #scroller {
        border: none !important;
    }

    #scroller * {
        color: var(--primary-color);
        font-size: 12pt;
        line-height: 18pt;
    }

    yt-confirm-dialog-renderer[dialog][dialog][dialog] {
        --divider-color: var(--border-color) !important;
    }

    paper-dialog-scrollable.can-scroll:not(.scrolled-to-bottom):not(:last-child)::after {
        background: transparent;
    }

    .buttons.yt-confirm-dialog-renderer {
        border-color: var(--border-color);
    }

    /* PLAYLIST */

    /** DESCRIPTION : change the elements of the playlist page **/
    ytd-playlist-sidebar-renderer {

        /*** PLAYLIST SIDEBAR ***/
        background: var(--card-bg-2);
        left: 0px !important;
    }

    ytd-playlist-sidebar-renderer .ytd-thumbnail-overlay-side-panel-renderer {
        color: #FFF !important;
        font-weight: bold !important;
    }

    ytd-playlist-sidebar-renderer #text-displayed {
        color: var(--primary-color) !important;
        font-size: 16pt !important;
        font-weight: bold !important;
    }

    ytd-playlist-sidebar-renderer * {
        color: var(--secondary-color) !important;
        font-size: 12pt !important;
    }

    ytd-playlist-sidebar-renderer  #channel-name {
        line-height: 15pt !important;
    }

    #primary.ytd-two-column-browse-results-renderer,
    ytd-two-column-browse-results-renderer #primary #contents,
    ytd-playlist-video-list-renderer {

        /*** PLAYLIST VIDEO LIST ***/
        background: var(--body-bg);
    }

    ytd-playlist-video-list-renderer #video-title {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        line-height: 18pt;
    }

    ytd-playlist-video-list-renderer #text * {
        color: var(--secondary-color) !important;
        font-size: 14pt !important;
        line-height: 18pt;
    }

    #index,
    #index-container * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    /* CHANNEL */

    /** DESCRIPTION : change the elements of the channel page **/
    #links-holder {

        /*** CHANNEL LINKS ***/
        margin-top: 12px;
    }

    #links-holder * {
        color: #FFF !important;
        font-size: 12pt !important;
        padding: 0px 2px !important;
        line-height: 0px !important;
    }

    #primary-links.ytd-c4-tabbed-header-renderer,
    #secondary-links.ytd-c4-tabbed-header-renderer {
        background-color: transparent !important;
    }

    #channel-header {

        /*** CHANNEL HEADER ***/
        background: var(--card-bg) !important;
    }

    #channel-header #subscriber-count {

        /*** CHANNEL HEADER SUBSCRIBERS COUNT ***/
        color: var(--secondary-color) !important;
        font-size: 14pt !important;
    }

    #channel-header #button {

        /*** CHANNEL HEADER NOTIFICATION BUTTON ***/
        margin-top: -4px !important;
    }

    #tabs-container #tabs-inner-container {

        /*** CHANNEL TABS ***/
        background: var(--card-bg) !important;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, .1) !important;
    }

    #tabs-container #tabs-inner-container * {
        color: var(--primary-color);
        font-size: 14pt;
        text-transform: capitalize;
    }

    ytd-browse[page-subtype~="channels"] ytd-two-column-browse-results-renderer.ytd-browse #secondary #contents #title {

        /*** CHANNEL SIDEBAR ***/
        color: var(--primary-color);
        font-size: 14pt;
        margin-bottom: 10px;
    }

    ytd-browse[page-subtype~="channels"] ytd-two-column-browse-results-renderer.ytd-browse #secondary .title.ytd-mini-channel-renderer {
        color: var(--secondary-color);
        font-size: 12pt;
        font-weight: bold;
    }

    ytd-channel-video-player-renderer {

        /*** CHANNEL CONTENT FEATURED THUMBNAIL ***/
        background: var(--card-bg-2) !important;
        border: 1px solid var(--border-color);
        padding-left: 20px !important;
        margin-top: 20px;
    }

    ytd-channel-video-player-renderer #title * {
        color: var(--primary-color) !important;
        font-size: 16pt;
        line-height: 18pt;
    }

    ytd-channel-video-player-renderer ytd-video-meta-block * {
        color: var(--secondary-color) !important;
        font-size: 14pt;
        line-height: 18pt;
    }

    ytd-channel-video-player-renderer #description * {
        color: var(--primary-color) !important;
        font-size: 12pt;
        line-height: 16pt;
    }

    ytd-rich-list-header-renderer[title-style="TITLE_STYLE_TYPE_CHANNEL_INLINE_RECS"] #title.ytd-rich-list-header-renderer {

        /*** CHANNEL CONTENT SECTION TITLE ***/
        color: var(--primary-color);
        font-size: 16pt !important;
    }

    #subtitle.ytd-rich-list-header-renderer,
    #subtitle.ytd-shelf-renderer {
        color: var(--secondary-color);
    }

    #header-button #button * {

        /*** CHANNEL CONTENT HEADER MORE BUTTON ***/
        color: #2980B9 !important;
        font-size: 12pt !important;
        font-weight: bold !important;
    }

    #play-button *,
    #play-all * {

        /*** CHANNEL CONTENT HEADER PLAY BUTTON ***/
        color: var(--primary-color);
        font-size: 12pt !important;
        font-weight: bold !important;
    }

    #play-all {
        margin-top: 2px;
    }

    #trigger #icon-label {
        color: var(--primary-color);
        font-size: 12pt !important;
        font-weight: bold !important;
    }

    #label-icon {
        fill: var(--primary-color);
    }

    .ytd-expanded-shelf-contents-renderer,
    #view-all * {

        /*** CHANNEL CONTENT MORE BUTTON ***/
        color: #2980B9 !important;
        font-size: 14pt !important;
        font-weight: bold !important;
    }

    ytd-grid-playlist-renderer {

        /*** CHANNEL CONTENT THUMBNAILS ***/
        background: var(--card-bg);
        border: 1px solid var(--border-color);
        padding-right: 0px !important;
        margin-right: 5px !important;
    }

    ytd-grid-playlist-renderer #video-title {
        color: var(--primary-color);
        font-size: 12pt !important;
        max-height: 5em;
        line-height: 15pt;
        margin-bottom: 10px;
        margin-left: 7px;
    }

    ytd-grid-playlist-renderer #metadata {
        margin-left: 7px;
        padding-bottom: 7px;
    }

    ytd-grid-playlist-renderer #metadata * {
        color: var(--secondary-color);
        font-size: 12pt;
        max-height: 5em;
        line-height: 15pt;
    }

    #grid-container #content.ytd-playlist-renderer {
        background: var(--card-bg);
        border: 1px solid var(--border-color);
        padding: 10px 15px !important;
        margin-left: -16px !important;
    }

    #grid-container #content.ytd-playlist-renderer #video-title.ytd-playlist-renderer {
        color: var(--primary-color);
        font-size: 14pt;
        margin-bottom: 4px;
    }

    #grid-container #content.ytd-playlist-renderer .ytd-channel-name.complex-string {
        font-size: 12pt;
    }

    #grid-container #content.ytd-playlist-renderer .ytd-channel-name.complex-string * {
        color: var(--secondary-color) !important;
    }

    #grid-container #content.ytd-playlist-renderer .style-scope.ytd-playlist-renderer * {
        color: var(--primary-color);
        font-size: 12pt;
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer {

        /*** CHANNEL COMMUNITY THREAD ***/
        background: var(--card-bg);
        border-color: var(--border-color) !important;
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer #published-time-text * {
        color: var(--secondary-color);
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer #expander {
        border-top: 1px solid var(--border-color) !important;
        padding-top: 10px !important;
        margin-top: 10px;
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer .less-button,
    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer .more-button {
        font-size: 14pt !important;
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer #vote-count-middle {
        margin-top: 6px !important;
    }

    ytd-backstage-items ytd-item-section-renderer ytd-backstage-post-thread-renderer #reply-button-end {
        margin-top: 5px !important;
    }

    #content-attachment.ytd-backstage-post-renderer ytd-video-renderer.ytd-backstage-post-renderer,
    #content-attachment.ytd-backstage-post-renderer ytd-playlist-renderer.ytd-backstage-post-renderer {
        background-color: var(--card-bg-2) !important;
        border: 1px solid var(--border-color);
    }

    ytd-channel-about-metadata-renderer * {

        /*** CHANNEL ABOUT CONTENT ***/
        border-color: var(--border-color) !important;
        color: var(--primary-color);
        font-size: 14pt !important;
        line-height: 18pt !important;
    }

    /* SETTINGS */

    /** DESCRIPTION : change the elements of the settings page **/
    ytd-settings-sidebar-renderer.ytd-browse {

        /*** SETTINGS SIDEBAR ***/
        background: var(--card-bg-2);
    }

    ytd-settings-sidebar-renderer.ytd-browse #title {
        color: var(--primary-color);
        font-weight: bold;
    }

    ytd-settings-sidebar-renderer.ytd-browse * {
        color: var(--primary-color);
        font-size: 14pt !important;
    }

    ytd-compact-link-renderer[compact-link-style="compact-link-style-type-settings-sidebar"][active],
    ytd-compact-link-renderer[compact-link-style="compact-link-style-type-settings-sidebar"]:hover {
        background-color: var(--card-bg);
    }

    #name.ytd-page-introduction-renderer {
        color: var(--primary-color) !important;
        font-size: 16pt !important;
    }

    #name.ytd-channel-options-renderer,
    .yt-formatted-string:not(a).bold {
        color: var(--primary-color) !important;
    }

    #label.ytd-settings-checkbox-renderer,
    #label.ytd-settings-radio-option-renderer,
    #text.ytd-connected-app-renderer,
    #text.ytd-page-introduction-renderer,
    #text.ytd-settings-options-renderer,
    #subtitle.ytd-item-section-header-renderer,
    #subtitle.ytd-settings-switch-renderer,
    ytd-channel-options-renderer * {
        color: var(--secondary-color);
        font-size: 14pt;
        line-height: 18pt;
    }

    ytd-toggle-button-renderer #button.ytd-toggle-button-renderer * {
        font-weight: bold !important;
    }

    #dropdown-trigger * {
        color: var(--primary-color) !important;
        font-size: 12pt !important;
    }

    /* MOVIE */

    /** DESCRIPTION : change the elements of the movie page **/
    ytd-grid-movie-renderer #video-title {
        color: var(--primary-color) !important;
        font-size: 12pt !important;
        line-height: 18pt !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    /* REPORT */

    /** DESCRIPTION : change the elements of the report page **/
    #message.ytd-message-renderer {
        color: var(--primary-color);
    }

}

